{% comment %} this is for base segements of other html pages {% endcomment %}
{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'twws/resources/images/favicon_io/favicon-32x32.png' %}" type="image/x-icon">

    <title>
            {% block title %}
            {% endblock title %}
    </title>

{% block head %}
{% endblock head %}
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'twws/style/style.css' %}">
</head>
<body>
<div class="wrapper">
  
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-8 flex-col md:flex-row items-center">
            <a class="flex items-center mb-4 md:mb-0">
                <span class="p-cinzel-light ml-3 brand text-xl">TWWS</span>
            </a>
            <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center uppercase">
                <a href={% url 'home' %} class="p-light-14 mr-8 ml-8">Home</a>
                <a href="{% url 'bookofmonth' %}" class="p-light-14 mr-8 ml-8">Botm</a>
                <a href="{% url 'reviews' %}" class="p-light-14 mr-8 ml-8">Reviews</a>
                <a class="p-light-14 mr-8 ml-8">About</a>
            </nav>
            <a href={% url 'signup' %}>
            <button 
                class="secondary-btn p-dark items-center border-0 py-1 px-3 mt-4 md:mt-0 mr-8 ml-8">Signup</button>
            </a>    
</div>
    
    {% block header %}
    {% endblock header %}
    </header>
</div> 
 
{% block body %}
{% endblock body %}

</body>
</html>