{% extends 'base.html' %}
{% load static %}

{% block title %}Detail Review {% endblock title %}

{% block body %}
<div class="wrapper">
    <section class="">
        <div class="container mx-auto flex px-5 py-12 items-center justify-center flex-col">
        <div class="lg:w-3/4 md:w-3/4 w-5/6 mb-10 object-cover object-center rounded post-cover" alt="hero">
            <h1 class="sm:text-4xl text-5xl mb-4 p-cinzel-dark sub-heading uppercase">{{review.book}}
            </h1>
        </div>
        <div class="text-left lg:w-2/3 w-full">
            <p class="mb-4 mt-6 p-dark-14" style="width: 90%;">{{review.review}}</p>
        </div>
        </div>
    </section>
</div>
{% endblock body %}